@Master['Master.html']

@Section['Title']
- Create an Account
@EndSection

@Section['Body']
<form id="applicationForm" name="applicationForm" data-bind="submit: submitApplication">
    <div class="logo white medium"></div>
    <input type="email"
           autocomplete="off"
           data-msg-email="Please provide a valid email address"
           name="email"
           placeholder="Email Address"
           data-bind="value: applicant.email, disable: isApplicationBeingSubmitted"
           required="required"
           data-msg-required="Please provide an email address" />
    <div class="flex">
        <input type="text"
               autocomplete="off"
               name="firstName"
               placeholder="First Name"
               data-bind="value: applicant.firstName, disable: isApplicationBeingSubmitted"
               required="required"
               data-msg-required="Please provide a name" />
        <input type="text"
               name="lastName"
               autocomplete="off"
               placeholder="Last Name"
               data-bind="value: applicant.lastName, disable: isApplicationBeingSubmitted" />
    </div>
    <button type="submit"
            data-bind="text: submitLabel, disable: isApplicationBeingSubmitted">
        Apply
    </button>
    <button type="button"
            title="Get registration data from Facebook"
            data-bind="
                click: fetchFromFacebook,
                disable: isFetchingFacebookInfo() || facebookError()"
            class="facebook-theme flex center">
        <div class="flex">
            <div class="in-blk logo xsmall facebook" style="width: 50px;"></div>
            <span data-bind="visible: isFetchingFacebookInfo">Importing your data, please wait...</span>
            <span data-bind="visible: facebookError">Error connecting to FB, try again</span>
        </div>
    </button>
    <ul id="applicationErrors" class="validation-errors-list error"></ul>
</form>
@EndSection

@Section['Scripts']
<script src="@Path['~/Content/Facebook.js']"></script>
<script src="@Path['~/Content/Registration/ApplicantViewModel.js']"></script>
<script src="@Path['~/Content/Registration/RegistrationAppViewModel.js']"></script>
<script src="@Path['~/Content/Registration/RegistrationApp.js']"></script>
<script>
    $('#applicationForm').validate({
        errorLabelContainer: '#applicationErrors',
        wrapper: 'li',
        rules: {
            email: {
                required: true,
                email: true,
                remote: {
                    url: `${applicationBaseUrl}/skeepy/registration/email/availability`,
                    type: 'post'
                }
            }
        }
    });
</script>
@EndSection