<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>SKeepy @Section['Title'];</title>

    <link rel="stylesheet" href="@Path['~/Content/Styles/styles.css']" />

    <link rel="apple-touch-icon" sizes="57x57" href="@Path['~/Content/Images/fav/apple-icon-57x57.png']">
    <link rel="apple-touch-icon" sizes="60x60" href="@Path['~/Content/Images/fav/apple-icon-60x60.png']">
    <link rel="apple-touch-icon" sizes="72x72" href="@Path['~/Content/Images/fav/apple-icon-72x72.png']">
    <link rel="apple-touch-icon" sizes="76x76" href="@Path['~/Content/Images/fav/apple-icon-76x76.png']">
    <link rel="apple-touch-icon" sizes="114x114" href="@Path['~/Content/Images/fav/apple-icon-114x114.png']">
    <link rel="apple-touch-icon" sizes="120x120" href="@Path['~/Content/Images/fav/apple-icon-120x120.png']">
    <link rel="apple-touch-icon" sizes="144x144" href="@Path['~/Content/Images/fav/apple-icon-144x144.png']">
    <link rel="apple-touch-icon" sizes="152x152" href="@Path['~/Content/Images/fav/apple-icon-152x152.png']">
    <link rel="apple-touch-icon" sizes="180x180" href="@Path['~/Content/Images/fav/apple-icon-180x180.png']">
    <link rel="icon" type="image/png" sizes="192x192" href="@Path['~/Content/Images/fav/android-icon-192x192.png']">
    <link rel="icon" type="image/png" sizes="32x32" href="@Path['~/Content/Images/fav/favicon-32x32.png']">
    <link rel="icon" type="image/png" sizes="96x96" href="@Path['~/Content/Images/fav/favicon-96x96.png']">
    <link rel="icon" type="image/png" sizes="16x16" href="@Path['~/Content/Images/fav/favicon-16x16.png']">
    <link rel="manifest" href="@Path['~/Content/Images/fav/manifest.json']">
    <link rel="shortcut icon" href="@Path['~/Content/Images/fav/favicon.ico']" type="image/x-icon">
    <link rel="icon" href="@Path['~/Content/Images/fav/favicon.ico']" type="image/x-icon">

    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="@Path['~/Content/Images/fav/ms-icon-144x144.png']">
    <meta name="theme-color" content="#ffffff">

    @Section['Head'];

</head>
<body>

    <div class="wallpaper"></div>
    <div class="walpaper-mask-gradient"></div>

    <div class="content">
    @Section['Body'];
    </div>

    @Section['Scripts']
</body>
</html>