@Master['Master.html']

@Section['Title']
- Password Successfully Set
@EndSection

@Section['Body']
<div>
    <div class="logo white medium"></div>
    <div class="text-center">
        <p>
            Your password was successfully set.
        </p>
        <p>
            You can now access your SKeepy personal area and start tracking your sports' score and performance.
        </p>
        <p>
            Thank you and welcome to SKeepy!
        </p>
    </div>
</div>
@EndSection