@Master['Master.html']

@Section['Title']
- Set Account Password
@EndSection

@Section['Body']
<form id="setPasswordForm" name="setPasswordForm" data-bind="submit: submitPassword">
    <div class="logo white medium"></div>
    <input type="password"
           autocomplete="off"
           name="password"
           id="password"
           placeholder="Password"
           data-bind="value: password, disable: isFormBeingSubmitted"
           required="required"
           data-msg-required="Please set a password" />
    <input type="password"
           autocomplete="off"
           name="passwordConfirm"
           placeholder="Password Confirmation"
           data-bind="value: passwordConfirm, disable: isFormBeingSubmitted"
           required="required"
           data-msg-required="Please confirm your password"
           data-msg-equalTo="The passwords must match" />
    <button type="submit"
            data-bind="text: submitLabel, disable: isFormBeingSubmitted">
        Set Password
    </button>
    <ul id="validationErrors" class="validation-errors-list"></ul>
</form>
@EndSection

@Section['Scripts']
<script src="@Path['~/Content/Registration/SetPasswordAppViewModel.js']"></script>
<script src="@Path['~/Content/Registration/SetPasswordApp.js']"></script>
<script>
    const registrationToken = '@Model';

    $.get(`${applicationBaseUrl}/skeepy/registration/validate/${registrationToken}`)
        .fail(HttpErrorHandler.handle);
</script>
<script>
    $('#setPasswordForm').validate({
        errorLabelContainer: '#validationErrors',
        wrapper: 'li',
        rules: {
            password: {
                remote: {
                    url: `${applicationBaseUrl}/skeepy/registration/password/validity`,
                    type: 'post'
                }
            },
            passwordConfirm: {
                equalTo: '#password'
            }
        }
    });
</script>
@EndSection
