@Master['Master.html']

@Section['Title']
- Validating Registration...
@EndSection

@Section['Body']
<div class="logo white medium"></div>
<p>
    We're currently validating your account registration application, please wait...
</p>
@EndSection

@Section['Scripts']
<script>
    const registrationToken = '@Model';

    $.get(`${applicationBaseUrl}/skeepy/registration/validate/${registrationToken}`, () => {
        window.location.href = `${applicationBaseUrl}/password/${registrationToken}`;
    }).fail(HttpErrorHandler.handle);

</script>
@EndSection