<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CryptoHelper" version="3.0.0" targetFramework="net47" />
  <package id="H.Versioning" version="1.3.3" targetFramework="net47" />
  <package id="JWT" version="3.0.3" targetFramework="net47" />
  <package id="Microsoft.AspNetCore.Cryptography.Internal" version="2.0.0" targetFramework="net47" />
  <package id="Microsoft.AspNetCore.Cryptography.KeyDerivation" version="2.0.0" targetFramework="net47" />
  <package id="Nancy" version="1.4.4" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net47" />
  <package id="NLog" version="4.4.12" targetFramework="net47" />
</packages>